Customer Churn Prediction/Data/
Customer Churn Prediction/Data_Preprocessed/
Healthcare Diagnosis Prediction/Data/
Healthcare Diagnosis Prediction/Data_Preprocessed/
Movie Recommendation System/Data
Movie Recommendation System/Data_Preprocessed