Customer Churn Prediction/Data/
Customer Churn Prediction/Data_Preprocessed/
Healthcare Diagnosis Prediction/Data/
Healthcare Diagnosis Prediction/Data_Preprocessed/
Movie Recommendation System/Data
Handwritten Digit Recognition/Data/
Handwritten Digit Recognition/Data_Preprocessed
Sentiment Analysis on Social Media Data/Data/